<div ng-if="pageChanger.reportOffense.home == true" ng-controller="reportOffenceController">

    <div class="container">
        <div class="card-panel">
            <div class="row">

                <div class="col s12">
                    <h5>Reporting offense</h5>
                </div>

                <div ng-if="!offenseList">

                    <!-- driver and vehicle -->
                    <div ng-repeat="(key,value) in reportingForms.offence.dataElements">
                        <div ng-show="key == 'Driver License Number' || key == 'Vehicle Plate Number/Registration Number'">
                            <label class="col s12 input-field" ng-show ="hasDataSets(key) || isDate(key) || isBoolean(key)" >{{ key }}</label>
                            <div class="col s12 input-field" >
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isString(key) && !hasDataSets(key)" id = "{{key}}" type="text" class="validate" />
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isInteger(key)" id = "{{key}}" type="number" class="validate"   />
                                <select ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isBoolean(key)"  class="select"  id = "{{key}}" >
                                    <option value="">Choose option</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <select ng-model="reportingForms.offence.newOffenseData[key]" ng-if="hasDataSets(key)" class="select"  id = "{{key}}">
                                    <option value="">Choose option</option>
                                    <option ng-repeat="item in getOptionSets(key)" > {{ item.name }}</option>
                                </select>
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isDate(key)"  id = "{{key}}" type="date" class="datepicker"  />
                                <label ng-if ="!(hasDataSets(key) || isDate(key) || isBoolean(key))" for = "{{ key }}">{{ key }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- offense attendant-->
                    <div class="col s12 input-field">
                        <input id="offenseAttendant"  type="text" class="validate" ng-model="reportingForms.offence.attendant">
                        <label for="offenseAttendant">Offence Attendant/Rank Number</label>
                    </div>

                    <!-- offense details -->
                    <div ng-repeat="(key,value) in reportingForms.offence.dataElements">
                        <div ng-show="key == 'Offence Admission Status' || key == 'Offence Facts' || key == 'Offence Place' || key == 'Offence Facts' || key == 'Offence Date'">
                            <label class="col s12 input-field" ng-show ="hasDataSets(key) || isDate(key) || isBoolean(key)" >{{ key }}</label>
                            <div class="col s12 input-field" >
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isString(key) && !hasDataSets(key)" id = "{{key}}" type="text" class="validate" />
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isInteger(key)" id = "{{key}}" type="number" class="validate"   />
                                <select ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isBoolean(key)"  class="select"  id = "{{key}}" >
                                    <option value="">Choose option</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <select ng-model="reportingForms.offence.newOffenseData[key]" ng-if="hasDataSets(key)" class="select" id = "{{key}}">
                                    <option value="">Choose option</option>
                                    <option style="padding: 5px;" ng-repeat="item in getOptionSets(key)" > {{ item.name }}</option>
                                </select>
                                <input ng-model="reportingForms.offence.newOffenseData[key]" ng-if="isDate(key)"  id = "{{key}}" type="date" class="datepicker"  />
                                <label ng-if ="!(hasDataSets(key) || isDate(key) || isBoolean(key))" for = "{{ key }}">{{ key }}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col s12">

                    <div ng-if="!offenseList">
                        <button ng-click="addOffense()"  class="btn btn-large waves-effect waves-light blue">
                            Select Offenses
                        </button>
                        <p class="flow-text">You have selected {{ offenseCount }} offenses</p>
                    </div>

                    <div ng-if="offenseList" >
                        <span style="" class="right blue waves-effect waves-circle waves-light btn-floating secondary-content btn-large" ng-click="addOffense()"><i class="mdi-navigation-close"></i> </span>
                        <div >
                            <div class="col s12 input-field">
                                <input type = "text" ng-model = "search" id = "searchOffenseList">
                                <label for = "searchOffenseList">Search Offense</label>
                            </div>
                            <div style="width:100%;height:50%;overflow:auto;">
                                <p class="col s12 input-field" ng-repeat="offenseRegistry in reportingForms.offence.editInput |filter: search">
                                    <input  value="{{offenseRegistry}}"  ng-model = 'reportingForms.offence.editInput[offenseRegistry.id]' ng-change="offenseRegistry.selected = !offenseRegistry.selected" type="checkbox" id="{{ offenseRegistry.id }}" />
                                    <label for="{{ offenseRegistry.id }}">{{ offenseRegistry.Nature }}</label>
                                </p><br>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col s12" ng-if="!offenseList">
                    <button class="btn btn-large col s12 waves-effect waves-light blue" ng-click="reportOffense()" style="margin-top: 20px;">Next</button>
                </div>

            </div>
        </div>

    </div>

</div>

<div ng-if = "pageChanger.reportOffense.saveConfirmation == true" ng-controller="reportOffenceController">

    <div class = "container">
        <div class="row">
            <div class="card-panel">
                <h5 align="center">Reported Offense Confirmation</h5>
                <div class="">

                </div>
                <div class="">
                    <button ng-click="backToReportOffenseForm()" type="button" class=" btn btn-large blue waves-effect waves-light">Back</button>
                    <button ng-click="confirmReporting()" type="button" class=" btn btn-large blue waves-effect waves-light">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- reporting progress reports -->
<div ng-if = "pageChanger.reportOffense.paymentConfirmation == true" ng-controller="reportOffenceController">

    <div class="container">
        <div class="row">
            <div class="card-panel">
                <div class="row">
                    <h5 align="center">Reported Offense Report</h5>
                    <div class="col s12" ng-repeat=" reportedOffense in reportingForms.offence.reprtedOffenses.list">
                        <span>{{ reportedOffense.Nature }}</span><br>
                        <span class="blue-text text-darken-2">{{ reportedOffense.Amount | currency : 'Tsh ' : 2}}</span>
                    </div>
                    <div class="col s12">
                        <span>Total Amount</span><br>
                        <span class="blue-text text-darken-2">{{ reportingForms.offence.reprtedOffenses.amountTotal | currency : 'Tsh ' : 2}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-panel">
                <h5>Offense Payment Agreement</h5>
                <div class="row">
                    <div class="col s12">
                        <button ng-click="offensePaymentNow()" class="col s12 blue btn btn-large waves-light waves-effect">
                            Pay Now
                        </button>
                    </div>
                    <div class="col s12" style="margin-top: 2%;">
                        <button ng-click="offensePaymentLater()" class="col s12 btn btn-large waves-effect waves-light blue">
                            Pay later
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>