 <div class = "container">
 	<div class = "row">
 		<div class = "col s12">
 			<p align = "center" style = "font-size:17px;">Report Offence </p>
 		</div>

 		<div class = "col s12">
 			<p class = "light-blue-text text-darken-4" style = "font-size:15px;">Offence Details</p>
 		</div> 

 		<form>

 			<div class = "row">
 				<div class="input-field col s12">
				 	<input ng-model  = "plateNumber" value = "{{plateNumber}}" id = "plateNumber" type="text" class="validate" placeholder = "Enter Plate Number">
				 </div> 				
 			</div>

 			<div class = "row">
 				<div class = "col s12" style="width:95%;margin:auto;">
 					<button class = " col s12 btn-large grey lighten-5 waves-effect waves-light black-text" >{{numberOfOffence}} offenses selected</button>
 				</div>
 			</div>

 			<div class = "row">

 				<div class =  "col s12">
	 				<p class = "light-blue-text text-darken-4"  style = "padding-left:2%;">Are charges accepted by the offender?</p>
	 			</div>	

	 			<div class= "col s12">
	 				<p class = "col s6" >
						<input class="with-gap" name="selectionBtn" type="radio" id="chargeAccepted"  checked />
						<label for="chargeAccepted">Charges Accepted</label>
					</p>
					<p class = "col s6" > 
						<input class="with-gap blue" name="selectionBtn" type="radio"  id="headingToCourt"  />
						<label for="headingToCourt">Heading to Court</label>
					</p>
 				</div>
 				 				
 			</div>

 			<div>
 				<button class = "btn-large waves-effect waves-light blue">Confirm</button>
 			</div>
 		</form>	

 	</div>


 </div>