 <div class = "container">
 	<div class = "row">
 		<div class = "col s12">
 			<p align = "center"> REPORT OFFENCE</p>
 		</div>

 		<div class = "col s12" ng-model = "verify_driver_licence" ng-if = "{{verify_driver_licence == false}}">
 			<p align = "center" style = "font-size:17px;">VERIFYING A DRIVING LICENCE</p>
 			<p align = "center" class = "red-text">{{ message }}</p>
 			<form>
 				<div class = "row">
	 				<div class = "card-panel col s12">

	 					<div class="row">
						 	<div class="input-field col s12">
						 		<input ng-model  = "licenceNumber" id = "licenceNumber" value = "{{licenceNumber}}" type="text" class="validate" placeholder = "Enter Licence No">
						 	</div>
						</div>

						<div class="row">
						 	<div class="input-field col s12">
						 		<input ng-model  = "plateNumber" value = "{{plateNumber}}" id = "plateNumber" type="text" class="validate" placeholder = "Enter Plate No">
						 	</div>
						</div>				

	 				</div>
 				
					<input ng-click = "verifyDriver()" type = "submit" class = "btn-large blue col s12 waves-effect waves-light"  value = "Verify"  />
				</div>
 			</form>
 		</div> 	

 	</div>
 </div>