 <div class = "container">
 	<div class = "row">
 		<div class = "col s12">
 			<p align = "center" style = "font-size:17px;">Payments</p>
 		</div>

 		<div class = "col s12">
 			<p align = "center" style = "font-size:17px;">Vehicle information</p>

 			<p ><span class = "light-blue-text text-darken-4">Make </span><br />
 				{{ vehicle.make }}
 			</p>

 			<p ><span class = "light-blue-text text-darken-4">Plate Number </span><br />
 				{{ vehicle.plateNumber }}
 			</p>

 			<p ><span class = "light-blue-text text-darken-4">Type </span><br />
 				{{ vehicle.type }}
 			</p>
 			
 			<p ><span class = "light-blue-text text-darken-4">Color </span><br />
 				{{ vehicle.color }}
 			</p>

 		</div> 	

 		<hr>
 		<div class = "col s12">
 			<p align = "center" style = "font-size:17px;">Unpaid Offences</p>	

 			<div class = "col s12" style = "paading-top:5%;">
	 			<table>
	 				<thead>
	 					<tr>
	 						<th >Offence</th>
	 						<th >Date</th>
	 					</tr>
	 				</thead>
	 				<tbody>
	 					<tr ng-repeat = "offence in offences">
	 						<td>{{ offence.offence }}</td>
	 						<td>{{ offence.date }}</td>
	 					</tr>
	 				</tbody>
	 			</table>
	 		</div>	

 		</div>
 	</div>


 </div>