<!--view for driver verifications home-->
<div ng-show="pageChanger.verifyDriver.home == true" ng-controller="DriverVerificationController">

    <!-- form for verification of driver -->
    <div class="container">
        <div class="row">
            <form class="col s12" ng-submit="verifyDriver()">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="driver_licence_number" ng-model="data.driverLicenceNumber" type="text" class="validate">
                        <label for="driver_licence_number">Driver Licence Number</label>
                    </div>
                </div>

                <div class = "row">
                    <button type="submit" class=" col s12 waves-effect waves-light btn-large blue">
                        Verify Driver
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- for results form verification of drivers -->
    <div class="container">
        <div class="row">

            <!-- display information for user for driver licence verification purpose -->
            <div ng-show="!data.driverData">
                <div class="col s12">
                    <p class="flow-text">Enter Driver Licence Number to verify a driver</p>
                </div>

            </div>

            <!-- display driver information -->
            <div ng-show = "data.driverData">
                {{ data.Driver | json}}
            </div>

        </div>
    </div>
</div>

