<!--view for driver verifications home-->
<div class="container"><div class="row"></div> </div>
<div ng-if="pageChanger.verifyVehicle.home == true" ng-controller="vehicleVerificationController">
    <div class="container">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col s12 ">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="vehiclePlateNumber" ng-model="data.vehilcePlateNumber" type="text" class="validate">
                                <label for="vehiclePlateNumber">Vehicle Plate Number/Registration Number</label>
                            </div>
                        </div>

                        <div class = "row">
                            <button ng-click="verifyVehicle()" class="col s12 waves-effect waves-light btn-large blue">
                                Verify Vehicle
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- vehicle verification results -->
            <div class="" ng-if="!configuration.loadingData">
                <div class="row">

                    <!-- display driver information -->
                    <div ng-if = "verificationData.Vehicle.vehicleData">
                        <h5 align="center">Vehicle Information</h5>
                        <div class="col s12" ng-repeat="(key,value) in verificationData.Vehicle.vehicle">

                            <div ng-if = "key == 'Model' || key == 'Make' || key == 'Color' || key == 'Vehicle Class' || key == 'Body Type' || key == 'Vehicle Plate Number/Registration Number'">

                        <span class = "flow-text">
                            {{ key }} <br>
                            <span style="padding-top: 2px" class="blue-text text-darken-2"> {{ verificationData.Vehicle.vehicle[key] }}</span>
                        </span>

                            </div>
                        </div>

                        <div class="col s12" ng-if = "moreInformationStatus">
                            <div ng-repeat="(key,value) in verificationData.Vehicle.vehicle">
                                <div ng-if="key =='Seating Capacity' || key =='Tare Weight' || key =='Vehicle Class' || key =='Year of Make' || key == 'Engine Capacity' || key == 'Engine Number' || key == 'Fuel' || key == 'Number of Axial' || key == 'Axial Distance' || key == 'Chasis Number' ">
                            <span class = "flow-text">
                                {{ key }} <br>
                                <span style="padding-top: 2px" class="blue-text text-darken-2"> {{ verificationData.Vehicle.vehicle[key] }}</span>
                            </span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12" style="margin-top: 15px;">
                            <button class="btn btn-large col s12 waves-effect waves-light blue" ng-click="moreInformationStatus = !moreInformationStatus">
                                <span ng-if = "!moreInformationStatus" ><span  class="mdi-action-visibility" style="margin: 0.7%;"></span>View More</span>
                                <span ng-if = "moreInformationStatus" ><span class="mdi-action-visibility-off" style="margin: 0.7%;"></span>Hide More</span>
                            </button>
                        </div>

                        <!-- view vehicle rep sheet -->
                        <div class="col s12" style="margin-top: 15px;">
                            <button class="btn btn-large col s12 blue waves-effect waves-light" ng-click="hideOrShowRapSheet()">
                                <span class="mdi-action-view-list"style="font-size: 14px;margin: 0.5%;"></span>
                                <span ng-if = "rapSheetStatus">Hide Rap Sheet</span> <span ng-if = "!rapSheetStatus">show Rap Sheet</span>
                            </button>
                        </div>
                        <div ng-if = "rapSheetStatus">

                            <div class="col s12" style="margin-top: 20px;" ng-if="verificationData.Vehicle.accidentData||verificationData.Vehicle.offenceData">
                                <div class="card-panel">
                                    <div>
                                        <h6><b>Offense and Accident data</b></h6>
                                    </div>
                                    <div ng-if = "verificationData.Vehicle.accidentData">
                                        Number of accidents : {{ verificationData.Vehicle.accidentData.length }}<br>
                                    </div>
                                    <div ng-if="verificationData.Vehicle.offenceData">
                                        Number of offenses : {{ verificationData.Vehicle.offenceData.length  }}
                                    </div>
                                    <div>
                                        <button ng-if="verificationData.Vehicle.accidentData.length > 0" style="margin: 0.5%;" class="blue btn-large btn waves-light waves-effect" ng-click="hideOrShowAccidentHistory()">
                                            <span ng-if="accidentHistory">Hide </span><span ng-if="!accidentHistory">View </span>Accident History
                                        </button>
                                        <button ng-if="verificationData.Vehicle.offenceData.length > 0" style="margin: 0.5%;" class="blue btn-large btn waves-light waves-effect" ng-click="hideOrShowOffenseHistory()">
                                            <span ng-if="offenseHistory">Hide </span><span ng-if="!offenseHistory">View </span>Offense History
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- accident history -->
                            <div  ng-if="verificationData.Vehicle.accidentData && accidentHistory">
                                <div class = "center">
                                    <h5>Accident history for {{ verificationData.Vehicle.vehicle['Vehicle Plate Number/Registration Number'] }}</h5>
                                </div>
                                <div class="card-panel" ng-repeat="data in  verificationData.Vehicle.accidentData">
                                    <div  class = "row">
                                        <span class="col s12">Driver </span>
                                        <span class="col s12 blue-text text-darken-2">{{data['Licence Number']}}</span>
                                        <span class="col s12">Area of Accident </span>
                                        <span class="col s12 blue-text text-darken-2">{{data.Accident['Area of Accident']}}</span>
                                        <span class="col s12">Date &amp; Time of Accident </span>
                                        <span class="col s12 blue-text text-darken-2">{{data.Accident['Time of Accident']}}</span>
                                        <button class="btn blue waves-effect waves-light">View more</button>
                                    </div>
                                </div>
                            </div>

                            <!-- offense history -->
                            <div ng-if = "verificationData.Vehicle.offenceData && offenseHistory">
                                <div class = "center">
                                    <h5>Offense History for {{ verificationData.Vehicle.vehicle['Vehicle Plate Number/Registration Number'] }} </h5>
                                </div>
                                <div class="card-panel" ng-repeat="data in  verificationData.Vehicle.offenceData">
                                    <div  class = "row">
                                        <span class="col s12">Driver </span>
                                        <span class="col s12 blue-text text-darken-2">{{data['Driver License Number']}}</span>
                                        <span class="col s12">Area of Offense </span>
                                        <span class="col s12 blue-text text-darken-2">{{data['Offence Place']}}</span>
                                        <span class="col s12">Offence Date</span>
                                        <span class="col s12 blue-text text-darken-2">{{data['Offence Date']}}</span>
                                        <button class="btn blue waves-effect waves-light">View more</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>