select.select{
    position:relative;
    z-index:10;
    width:100%!important;
    /*min-height:50px !important;*/
    line-height:50px;
    padding:2%;
    font-size:14px;
    background-color: #cfd8dc;
}